{% extends 'base.html' %}

{% block name %}
Home
{% endblock name %}

{% block homeattribute %}
style="color: #ff00ff;"
{% endblock homeattribute %}

{% block bodyy %}
<section id="announcementSection" class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 mx-auto">
        <div class="py-8 divide-y-2 divide-gray-100">
            {% for entry in entries %}
            <div class="announcement flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="mt-1 text-gray-500 text-sm">{{entry.timestamp}}</span> 
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium white title-font mb-2">{{ entry.heading }}</h2>
                    <p class="leading-relaxed">{{ entry.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script>
    function getCurrentDateTime() {
        var date = new Date();
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString().padStart(2, '0');
        var day = date.getDate().toString().padStart(2, '0');
        var hours = date.getHours().toString().padStart(2, '0');
        var minutes = date.getMinutes().toString().padStart(2, '0');
        return `${year}-${month}-${day} ${hours}:${minutes}`;
    }
</script>
{% endblock bodyy %}
