{% extends 'base.html' %}

{% block name %}
Map
{% endblock name %}

{% block mapattribute %}
style="color: #ff00ff;"
{% endblock mapattribute %}

{% block bodyy %}
<div id="map"></div>

{% for icon in danger %}
<script>
    addDangerMarker({{ icon.longitude }}, {{ icon.latitude }}, {{ icon.name }})
</script>
{% endfor %}

{% for icon in safe %}
<script>
    addSafeMarker({{ icon.longitude }}, {{ icon.latitude }}, {{ icon.name }})
</script>
{% endfor %}

{% for icon in resource %}
<script>
    addResourceMarker({{ icon.longitude }}, {{ icon.latitude }}, {{ icon.name }})
</script>
{% endfor %}

<script>
    const map = L.map('map').setView([28.5082, 77.0852], 9);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Locate and set view to user's current position
    map.locate({ setView: true, maxZoom: 16 });

    // Handle location found event
    map.on('locationfound', function (e) {
        const radius = e.accuracy / 2;
        L.marker(e.latlng, { icon: blackIcon }).addTo(map)
            .bindPopup(`<h2>Your Location</h2><p>Accuracy: ${radius} meters</p>`)
            .openPopup();

        L.circle(e.latlng, radius).addTo(map);
    });

    // Handle location error event
    map.on('locationerror', function (e) {
        alert(e.message);
    });

    // Define custom icons with accessible URLs
    const dangerIcon = L.icon({
        iconUrl: 'https://github.com/pointhi/leaflet-color-markers/blob/master/img/marker-icon-red.png?raw=true',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    const safeIcon = L.icon({
        iconUrl: 'https://github.com/pointhi/leaflet-color-markers/blob/master/img/marker-icon-green.png?raw=true',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    const resourceIcon = L.icon({
        iconUrl: 'https://github.com/pointhi/leaflet-color-markers/blob/master/img/marker-icon-blue.png?raw=true',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    // Black marker icon for user's location
    const blackIcon = L.icon({
        iconUrl: 'https://github.com/pointhi/leaflet-color-markers/blob/master/img/marker-icon-black.png?raw=true',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34]
    });

    // Add marker functions with custom icons
    function addDangerMarker(longitude, latitude, title) {
        console.log("dangercalled")
        L.marker([longitude, latitude], { icon: dangerIcon, title: title })
            .addTo(map)
            .bindPopup('<div class="danger-popup"><img src="https://github.com/pointhi/leaflet-color-markers/blob/master/img/marker-icon-red.png?raw=true" class="icon" alt="Danger Icon"/> <h2>Danger Zone</h2></div>');
    }

    function addSafeMarker(longitude, latitude, title) {
        L.marker([longitude, latitude], { icon: safeIcon, title: title })
            .addTo(map)
            .bindPopup('<div class="safe-popup"><img src="https://github.com/pointhi/leaflet-color-markers/blob/master/img/marker-icon-green.png?raw=true" class="icon" alt="Safe Icon"/> <h2>Safe Zone</h2></div>');
    }

    function addResourceMarker(longitude, latitude, title) {
        L.marker([longitude, latitude], { icon: resourceIcon, title: title })
            .addTo(map)
            .bindPopup('<div class="resource-popup"><img src="https://github.com/pointhi/leaflet-color-markers/blob/master/img/marker-icon-blue.png?raw=true" class="icon" alt="Resource Icon"/> <h2>Resource Spot</h2></div>');
    }

    // Add legend to map
    const legend = L.control({ position: 'topleft' });

    legend.onAdd = function (map) {
        const div = L.DomUtil.create('div', 'legend');
        div.innerHTML = `
                <i style="background: url(https://github.com/pointhi/leaflet-color-markers/blob/master/img/marker-icon-red.png?raw=true) no-repeat center center; background-size: contain;"></i> <span style="line-height: 36px;">Danger</span><br>
                <i style="background: url(https://github.com/pointhi/leaflet-color-markers/blob/master/img/marker-icon-green.png?raw=true) no-repeat center center; background-size: contain;"></i> <span style="line-height: 36px;">Safe</span><br>
                <i style="background: url(https://github.com/pointhi/leaflet-color-markers/blob/master/img/marker-icon-blue.png?raw=true) no-repeat center center; background-size: contain;"></i> <span style="line-height: 36px;">Resource</span><br>
                <i style="background: url(https://github.com/pointhi/leaflet-color-markers/blob/master/img/marker-icon-black.png?raw=true) no-repeat center center; background-size: contain;"></i> <span style="line-height: 36px;">Your Location</span><br>
            `;
        return div;
    };

    legend.addTo(map);
</script>
{% endblock bodyy %}