{% extends 'base.html' %}

{% block name %}
Safe Spots
{% endblock name %}

{% block safespotsattribute %}
style="color: #ff00ff;"
{% endblock safespotsattribute %}

{% block bodyy %}
<section class="resource-section">
    <div class="container">
        <h2 class="text-3xl font-semibold text-center mb-8">Safe Spots During Crisis</h2>
        <div class="resource-container">
            {% for entry in entries %}
            <div class="resource-card">
                <h2 class="text-xl font-semibold mb-2">{{entry.name}}</h2>
                <p class="text-gray-300">{{entry.details}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock bodyy %}
