{% extends 'base.html' %}

{% block name %}
Safe Spots
{% endblock name %}

{% block safespotsattribute %}
style="color: #ff00ff;"
{% endblock safespotsattribute %}

{% block bodyy %}
<section class="resource-section">
    <div class="container">
        <h2 class="text-3xl font-semibold text-center mb-8">Safe Spots During Crisis</h2>
        <div class="resource-container">
            <!-- Safe Spot Card 1 -->
            <div class="resource-card">
                <h2 class="text-xl font-semibold mb-2">Medical Centers</h2>
                <p class="text-gray-300">Locations where medical help and supplies are available.</p>
            </div>
            <!-- Safe Spot Card 2 -->
            <div class="resource-card">
                <h2 class="text-xl font-semibold mb-2">Community Shelters</h2>
                <p class="text-gray-300">Safe shelters for individuals and families during emergencies.</p>
            </div>
            <!-- Safe Spot Card 3 -->
            <div class="resource-card">
                <h2 class="text-xl font-semibold mb-2">Police Stations</h2>
                <p class="text-gray-300">Places where law enforcement personnel are available to assist.</p>
            </div>
            <!-- Safe Spot Card 4 -->
            <div class="resource-card">
                <h2 class="text-xl font-semibold mb-2">Fire Stations</h2>
                <p class="text-gray-300">Emergency services for fire-related incidents and safety.</p>
            </div>
        </div>
    </div>
</section>
{% endblock bodyy %}
