{% extends 'base.html' %}

{% block name %}
Data Entry
{% endblock name %}

{% block homeattribute %}
style="color: #ff00ff;"
{% endblock homeattribute %}

{% block bodyy %}
<div class="container">
    <div class="announcement">
        <h1>Data Entry Site</h1>
        <p>What kind of modifications do you want to make?</p>
    </div>

    <section class="button-section">
        <div class="button-container">
            <a href="/announce" class="big-button" style="background-color: #a200ff;">
                <h2>Announce</h2>
            </a>
            <a href="/location" class="big-button" style="background-color: #a200ff;">
                <h2>Add Location</h2>
            </a>
            <a href="/announcements" class="big-button" style="background-color: #a200ff;">
                <h2>Edit Announcements</h2>
            </a>
            <a href="/safespots" class="big-button" style="background-color: #a200ff;">
                <h2>Edit Safe Spots</h2>
            </a>
            <a href="/resources" class="big-button" style="background-color: #a200ff;">
                <h2>Edit Resources</h2>
            </a>
        </div>
    </section>
</div>
{% endblock bodyy %}